DEV/
/.idea
.vscode
.DS_Store
*~
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.thm
*.toc
*.lof
*.lot
*.loe
*.equEN
*.lofEN
*.lotEN
*.vrb
*.hd
*.fdb_latexmk
*.fls
*.htm
*.html
.Rproj.user
cquthesis.Rproj
.Rhistory
*.gz(busy)
*.gz
*.equ
*.xdv
*.tmp
dtx-style.sty
cquthesis.cls
cquthesis.cfg
main.pdf
