*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.thm
*.bib
.Rproj.user
cquthesis.Rproj
todo.md~
.Rhistory
*~
README.html
ctan-submissions_(untracked)


*.gz(busy)
cls/Testfile.tex
