auto
node_modules
dist
.DS_Store
*~
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.thm
*.toc
*.lof
*.lot
*.loe
*.vrb
*.hd
*.fdb_latexmk
*.fls
*.htm
*.html
main.pdf
.Rproj.user
cquthesis.Rproj
todo.md~
.Rhistory
*.gz(busy)
Dev
*.gz
quicktest.pdf
quicktest.tex
